.background{
	background: rgba(0, 0, 0, 0.7) url('Background.jpg');
	background-size: cover;
	background-blend-mode: darken;
	opacity: 90%;
	z-index: -1000;
	justify-content: center;
	display: inline-flex;
}

.text-big{
	font-size: 30px;
	color: lightgoldenrodyellow;
	border: 1px solid lightyellow;
	border-radius: 15px;
	padding: 7px;
}

.text-small{
	font-size: 20px;
	color: lightgray;
	background-blend-mode: darken;

}

.about{
	display: flex;
	height: 200vh;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	height: 50%;
	align-items: center;
}
